Django==1.9.13
django-revproxy==0.9.13
django-oauth-toolkit==0.10.0
django-cors-headers==1.2.2
gunicorn==19.5.0
psycopg2==2.6.1
raven==5.19.0
git+https://github.com/uktrade/directory-constants.git@1.0.1#egg=directory_constants
git+https://github.com/uktrade/directory-signature-auth.git@0.1.0#egg=sigauth
